body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	margin: 0;
	padding: 0;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 18px;
	color: #FFF;
	background-color: #212121;
}

main {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
	display: block;
	font-weight: normal;
	margin: 0;
	padding: 0;
	line-height: 90%;
}

h1 {
	font-size: 45px;
}

p {
	font-weight: normal;
	margin: 0;
	padding: 0;
}

a {
	color: #76FF03;
	text-decoration: none;
}

ul {
	margin: 8px;
}

.nav-link {
	display: block;
	font-style: italic;
	margin-bottom: 8px;
}

#header {
	margin: 8px;
}

#footer {
	margin: 8px;
	text-align: right;
}

#flexbox-centered {
	width: 320px;
	margin: 32px 16px;
}

#cards-holder {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}

.card {
	-webkit-flex: 1 0 150px;
	flex: 1 0 150px;
	position: relative;
	height: 150px;
	margin: 5px;
	border-radius: 2px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	background-color: #424242;
	background-position: center;
	background-size: cover;
}
.card.about {
	background-color: #76FF03;
	background-image: url("images/arnon_square.png");
}
.card.art {
	background-color: #FFF03C;
	background-image: url("images/nothing_square.png");
}
.card.blog {
	background-color: #3F51B5;
	background-image: url("images/triangle_square.png");
}
.card.contact {
	background-color: #2196F3;
	background-image: url("images/civic_square.png");
}

.card-overlay {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	box-sizing: border-box;
	padding: 12px;
	height: 38px;
	background-color: rgba(0,0,0,0.6);
	z-index: 1;
}
.card-overlay > h2 {
	font-size: 18px;
}

a.card-link {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
	color: #FFF;
	background-color: rgba(255,255,255,0.0);
	transition: background-color 150ms ease;
}
a.card-link:hover {
	background-color: rgba(255,255,255,0.2);
}

#text-holder {
	box-sizing: border-box;
	margin: 8px;
}

#text-holder h2 {
	font-size: 28px;
	margin: 0 0 8px 0;
}

#text-holder h3 {
	font-size: 16px;
	font-style: italic;
	margin: 0 0 4px 0;
}

#text-holder p {
	margin: 0 0 8px 0;
}

#text-holder img {
	width: 100%;
	margin: 8px 0;
}

#text-holder hr {
	color: #FFF;
	border-width: 1px;
	margin: 0 0 12px 0;
}

::selection {
	background: #B3D4FC;
	text-shadow: none;
}

::-moz-selection {
	background: #B3D4FC;
	text-shadow: none;
}
