@font-face {
	font-family: 'PX Sans Nouveaux';
	src: url('fonts/PX Sans Nouveaux.ttf') format('truetype');
}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
	font-size: inherit;
}

body {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
	color: rgb(0,0,0);
	background-color: rgb(0,128,128);
	font-family: 'PX Sans Nouveaux', sans-serif;
	font-size: 12px;
	-webkit-text-size-adjust: 100%;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

p, h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
}

a {
	color: #0000EE;
	text-decoration: underline;
	cursor: pointer;
}

a:visited {
	color: #551A8B;
}

hr {
	margin: 8px 0;
	border: 0;
	border-top: 2px dashed rgb(0,0,0);
}

.window {
	max-width: 800px;
	margin: 8px;
	background-color: rgb(191,191,191);
}

.window-content {
	position: relative;
	z-index: 1;
	margin: 2px;
}

.window-title-bar {
	display: flex;
	align-items: center;
	height: 30px;
	line-height: 30px;
	color: rgb(255,255,255);
	background-color: rgb(0,10,123);
	user-select: none;
}

.window-menu-bar {
	display: flex;
	align-items: center;
	height: 28px;
	margin: 0;
	padding: 0;
	list-style-type: none;
	user-select: none;
}

.window-menu-bar li {
	display: block;
	min-width: 48px;
	padding: 0 8px;
}

.window-menu-bar li::first-letter {
	text-decoration: underline;
}

.window-text {
	position: relative;
	z-index: 1;
	margin-right: 28px;
	padding: 4px;
	background-color: rgb(255,255,255);
}

.outset-outer-border, .outset-inner-border, .inset-outer-border, .inset-inner-border {
	position: relative;
	width: 100%;
	height: 100%;
	border: 2px solid;
}

.outset-outer-border::after, .outset-inner-border::after, .inset-outer-border::after, .inset-inner-border::after {
	content: '';
	display: block;
	position: absolute;
	top: -2px;
	right: -2px;
	bottom: -2px;
	left: -2px;
}

.outset-outer-border {
	border-color: rgb(223,223,223);
}

.outset-outer-border::after {
	box-shadow: inset -2px -2px rgb(0,0,0);
}

.outset-inner-border {
	border-color: rgb(255,255,255);
}

.outset-inner-border::after {
	box-shadow: inset -2px -2px rgb(127,127,127);
}

.inset-outer-border {
	border-color: rgb(127,127,127);
}

.inset-outer-border::after {
	box-shadow: inset -2px -2px rgb(255,255,255);
}

.inset-inner-border {
	border-color: rgb(0,0,0);
}

.inset-inner-border::after {
	box-shadow: inset -2px -2px rgb(223,223,223);
}

.right-scroll-bar {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 28px;
	background-image:
		linear-gradient(45deg, rgb(255,255,255) 25%, transparent 25%),
		linear-gradient(135deg, rgb(255,255,255) 25%, transparent 25%),
		linear-gradient(45deg, transparent 75%, rgb(255,255,255) 75%),
		linear-gradient(135deg, transparent 75%, rgb(255,255,255) 75%);
	background-size: 4px 4px;
	background-position: 0 0, 2px 0, 2px -2px, 0px 2px;
}

.up-scroll-button, .down-scroll-button {
	position: absolute;
	right: 0;
	width: 28px;
	height: 28px;
	background-color: rgb(191,191,191);
}

.up-scroll-button::after, .down-scroll-button::after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: url('icons/arrow.svg');
	opacity: 0.45;
}

.up-scroll-button {
	top: 0;
}

.up-scroll-button::after {
	transform: rotate(0);
}

.down-scroll-button {
	bottom: 0;
}

.down-scroll-button::after {
	transform: rotate(180deg);
}

.minimize-button, .maximize-button, .close-button {
	position: absolute;
	top: 3px;
	width: 28px;
	height: 24px;
	background-color: rgb(191,191,191);
}

.minimize-button {
	right: 62px;
}

.maximize-button {
	right: 34px;
}

.close-button {
	right: 3px;
}

::selection {
	color: rgb(255,255,255);
	background-color: rgba(0,10,123,0.99);
	text-shadow: none;
}

::-moz-selection {
	color: rgb(255,255,255);
	background-color: rgba(0,10,123,0.99);
	text-shadow: none;
}
